<%- include('../layouts/header.ejs') %>
                
                <!-- Page-header start -->
                 <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Dashboard</h5>
                                    <p class="m-b-0">Selamat Datang di PT. Perkakas Rekadaya Nusantara</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-header end -->
                  <div class="pcoded-inner-content">
                      <!-- Main-body start -->
                      <div class="main-body">
                          <div class="page-wrapper">
                            
                            
                            
                            <!-- Page-body start -->
                              <div class="page-body">
                                  <div class="row">
                                     
                                    <% if(jabatan == 'sales') { %>
                                      <canvas id="myChartUnderBracket"></canvas>

                                      <canvas id="myChartInnerTube"></canvas>

                                      <canvas id="myChartTotal"></canvas>

                                      <% } else if(jabatan == 'produksi') { %>

                                        <canvas id="ProduksiUnderBracket"></canvas>
                                        <canvas id="ProduksiInnerTube"></canvas>


                                        <% } else { %>

                                            <% } %>


                            


                                  </div>
                              </div>
                              <!-- Page-body end -->
                          </div>


                          <%- include('../layouts/footer.ejs') %>