<!-- Modal -->
<div class="modal fade" id="exampleUser" tabindex="-1" role="dialog" aria-labelledby="exampleUserLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleUser">Modal Tambah Data User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <form action="/capaian_produksi/store" method="post">

        <div class="modal-body">
          

                <div class="form-group">
                    <label for="produk">Produk</label>
                    <input type="text" name="produk" id="produk" class = "form-control">
                </div>

                
                <div class="form-group">
                    <label for="no_part">Nomor Part</label>
                    <input type="text" name="no_part" id="no_part" class = "form-control">
                </div>

                
                <div class="form-group">
                    <label for="plan_produksi">Plan Produksi</label>
                    <input type="text" name="plan_produksi" id="plan_produksi" class = "form-control">
                </div>

                
                <div class="form-group">
                    <label for="hasil_produksi">Hasil Produksi</label>
                    <input type="text" name="hasil_produksi" id="hasil_produksi" class = "form-control">
                </div>



                <div class="form-group">
                    <label for="sisa_produksi">Sisa Produksi</label>
                    <input type="number" name="sisa_produksi" id="sisa_produksi" class = "form-control">
                </div>


                <div class="form-group">
                    <label for="capaian_produksi">Capaian Produksi</label>
                    <input type="text" name="capaian_produksi" id="capaian_produksi" class = "form-control">
                </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Tambahkan</button>
        </div>

    </form>
        
    </div>
    </div>
  </div>