<!-- Modal -->
<div class="modal fade" id="exampleProdukJadi" tabindex="-1" role="dialog" aria-labelledby="exampleProdukJadiLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleProdukJadiLabel">Modal Bahan Baku</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <form action="/produk_jadi/store" method="post">

        <div class="modal-body">
          

                <div class="form-group">
                    <label for="nama_bahan">Nama Produk</label>
                    <input type="text" name="nama_produk" id="nama_produk" class = "form-control">
                </div>

                
                <div class="form-group">
                    <label for="no_part">Nomor Part</label>
                    <input type="text" name="no_part" id="no_part" class = "form-control">
                </div>


                <div class="form-group">
                    <label for="stock">Stok</label>
                    <input type="number" name="stock" id="stock" class = "form-control">
                </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Tambahkan</button>
        </div>

    </form>
        
    </div>
    </div>
  </div>